fastapi==0.115.5
uvicorn[standard]==0.32.1
aiosqlite==0.20.0
python-multipart==0.0.12
python-dotenv>=1.0
firebase-admin>=6.5.0
apscheduler>=3.10.0
# login_bot.py uchun
python-telegram-bot==20.7
requests>=2.31
